
services:
  weaviate:
    image: cr.weaviate.io/semitechnologies/weaviate:1.32.4
    ports:
      - "8080:8080"
    environment:
      QUERY_DEFAULTS_LIMIT: 20
      AUTHENTICATION_ANONYMOUS_ACCESS_ENABLED: 'true'
      PERSISTENCE_DATA_PATH: '/var/lib/weaviate'
      ENABLE_MODULES: 'text2vec-ollama,generative-ollama'
      ENABLE_API_BASED_MODULES: 'true'
      CLUSTER_HOSTNAME: 'node1'
      ENABLE_CONSOLE: "true"
    volumes:
      - weaviate_data:/var/lib/weaviate
    networks:
      - app-network

  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    environment:
      - WEAVIATE_URL=http://weaviate:8080
      - EMBEDDING_MODEL_URL=http://host.docker.internal:11434/api/embeddings
      - OLLAMA_URL=http://host.docker.internal:11434/api/generate
    volumes:
      - ${DOCS_PATH:-./data/documents}:/app/data/documents
    depends_on:
      weaviate:
        condition: service_started
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  weaviate_data:
